@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

body {
  @apply overflow-y-auto;
}


  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9) translateY(10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
